<div class="card" style="max-width: 100%;">
    <img src="https://picsum.photos/200/100" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Taller de Emprendores</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur velit exercitationem, officia corporis ea eaque perspiciatis doloribus facilis deserunt vel amet magnam laudantium, error adipisci temporibus. Veritatis quam maiores recusandae.</p>
      <a href="#" class="btn btn-primary" routerLink="curso" routerLinkActive="active">Ir al curso</a>
    </div>
</div>
